<?xml version="1.0" encoding="UTF-8" ?>
<Enviornment>
    <!--General-->
    <UserEmail>ziv.automation@gmail.com</UserEmail>                     <!--Main user login email-->
    <Password>zivg1234</Password>                                       <!--Main user login password-->
    <Timeout>5</Timeout>
    <!--Web-->
    <URL>https://basecamp.com/</URL>                                    <!--Basecamp home page-->
    <!--Mobile-->
    <AppiumServerURL>http://localhost:4723/wd/hub</AppiumServerURL>     <!--Appium server URL-->
    <APP_PACKAGE>com.basecamp.bc3</APP_PACKAGE>                         <!--Tested App-->
    <UDID>1e9ac294</UDID>                                               <!--Mobile Identifier-->
    <APP_ACTIVITY>.activities.HomeActivity</APP_ACTIVITY>               <!--main application activity-->
    <!--Database-->
    <DBURL>jdbc:mysql://remotemysql.com:3306/vBlBbpvG7d</DBURL>
    <DBuser>vBlBbpvG7d</DBuser>
    <DBpassword>Wekd1yyXnt</DBpassword>
</Enviornment>